<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>日曆格式未交製令</title>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>


<style type="text/css" >
       td {             
             height: 100px ;
      }
      
       th {             
             height: 10px ;
             background-color: lime ;
      }
</style>
<script type="text/javascript" src="js/new_app.js"></script>

</head>
<body ng-app="dateInputExample" >
<div ng-controller="myDateController as dateCtrl" >
	   <div>
	   	 	<button ng-click="dateCtrl.lastMonth()" >上個月</button>
	   		力科製令未交明細行事曆
	   		<button ng-click="dateCtrl.nextMonth()" >下個月</button>
	   </div>


	<table border="1" cellspacing="1" bordercolor="#CCCCCC" width="100%" style="border-collapse: collapse" >
	            
		<thead>
			<tr style="font-size:20px;">
				<th ng-repeat="string in dateCtrl.weekString" ng-style="dateCtrl.width(string)" >
					<span ng-bind="string" ng-style="dateCtrl.holidayOrNot(string)"></span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="weekDay in dateCtrl.weekDays" valign="top" >
				<td ng-repeat="day in weekDay track by $index">
					<div ng-if="dateCtrl.dayInMonthOrNot(dateCtrl.year,dateCtrl.month,day)"> 
						<div align="center" style="background-color: pink;font-size:16px;" ng-bind="day | date:'yyyy/MM/dd'" ></div>
						<div ng-show="dateCtrl.checkHaveDataOrNot"><img src="img/loading.gif">資料讀取中...</div>
	                         	<div ng-hide="dateCtrl.checkHaveDataOrNot">
		                                  <div style="font-size:1em;">未完工製令：</div>
		                                  <div style="font-size:0.7em;" ng-repeat="data in dateCtrl.orderInfos | filter:dateCtrl.filterOptions(day) ">                                           			
		                                        [<span style="color:red;">{{data.productName}}</span>] 未交數量：{{data.orderAmount-data.makedAmount}}{{data.unit}}<br><br>
		                                  </div> 
	                            </div> 
	                </div> 
				</td>
			</tr>
		</tbody>
	
	</table>

</div>

</body>
</html>